{% extends 'bar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet type="text/css" href="{% static 'css/style.css' %}">
    <SCRIPT language=JavaScript src="word.js"></SCRIPT>
</head>
<body>
<header>
    <div class="hero">
        <h1>只有從源頭減廢，減少使用即棄膠樽、
            膠袋及發泡膠盒，<br>
            才能減少「膠害」</h1>
</header>
<!-------------------------------分隔線------------------------------------->
<div class="content1">
    <div class="contenttxt">
        塑膠廢物編碼你又知唔知有幾多種?<br>
        等我地話你地知香港係點分類塑膠廢物<br>
        以下係香港塑膠材料編碼表
    </div>
    <div class="contanier">
        <div class="content">
            <a href="#rd"><img src="{% static 'images/12.jpg' %}"></a>
            <a href=""><img src="{% static 'images/2.jpg' %}"></a>
            <a href=""><img src="{% static 'images/3.jpg' %}"></a>
            <a href=""><img src="{% static 'images/4.jpg' %}"></a>
            <a href=""><img src="{% static 'images/5.jpg' %}"></a>
            <a href=""><img src="{% static 'images/6.jpg' %}"></a>
            <a href=""><img src="{% static 'images/7.jpg' %}"></a>
        </div>
    </div>
</div>
<!-------------------------------分隔線------------------------------------->
<div class="logo7">
    <div class="pk" id="pk">
        <img src="1233.jpg" width="700" align="right">1號塑膠PET（聚對苯二甲酸乙二醇酯）：囊括一般的飲品膠樽、膠杯等，通常為透明硬身的容器，樽底有一大凹入的圓點。
    </div>
    <div class="gn" id="gn">
        2號塑膠HDPE（高密度聚乙烯）：常用於個人護理用品的膠樽、洗衣液樽等，通常為實色硬身的容器，一般樽底中間及樽身有一條橫接口。
    </div>
    <div class="rd" id="rd">
        3號塑膠PVC（聚氯乙烯）：多製成保鮮紙、水管、書包和雨褸。必須注意它是非常難回收的，因加熱後會釋出毒物！
    </div>
    <div class="org" id="org">
        4號塑膠LDPE（低密度聚乙烯）：常見有紙巾袋、背心膠袋、「啪啪紙」和透明膠袋，帶有延伸及彈性。
    </div>
    <div class="pgn" id="pgn">
        5號塑膠PP（聚丙烯）：多是豆漿樽、微波爐餐盒、樽蓋、飲管、即棄餐具和豆漿樽，耐熱度較高（90至140°c）的容器。容器對摺後有明顯白痕，容易撕開，裂口清晰。
    </div>
    <div class="g" id="g">
        6號塑膠PS(聚苯乙烯)：常見為益力多樽、餐具和杯麵碗。容易斷裂，摺痕呈擴散式散開。
    </div>
    <div class="pb" id="pb">
        7號塑膠：種類繁多，只會用OTHER代稱，包括CD。
    </div>
</div>
<!-------------------------------分隔線------------------------------------->
<div class="social-icons">
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
</div>
</body>
</html>
{% endblock %}